.cat-container{
    display: flex ;
   flex:  1 1 300px; 
    margin: 1em;
    padding: 1em;
    border: 1px solid #dddd;
    border-radius: 8px;
box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
text-align:center ;
transition: transform 0.3s;
}
  img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }  
  header{
    margin: 0.5em;
  }
  p{
    margin: 0.5em;
  }
@media (max-width: 600px){
    .cat-container{
        flex-direction: column;
        align-items: center;
    }
    .cat-card{
        flex: 1 1 100%
        max-width 100%;
        div:hover{
transform: scale(0.5);
        }
        
    }
    
}

